:root {
    --title-color: #333;
    --large-width: 1000px;
    --nav-opacity: opacity(0.4);
}

body {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* タイトル */
header h1 {
    margin: 1vw;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    /* 1em = フォントサイズ、　フォントが115pxのとき、0.2em = 23px */
    letter-spacing: 0.2em;
    /* 右端にもスペースが追加されるため、左端に同じ幅をとって左右均等に */
}

header img {
    margin: 2vw 0vw 0vw 2vw;
}

header a {
    color: var(--title-color);
    text-decoration-line: none;
}

@media (min-width: 768px) {

    header img {
        width: 30%;  
    }
}

@media (max-width: 768px) {

    header img {
        width: 100%;  
    }
}

/* ヘッダーナビ */
.head_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .head_nav a {
    display: block;
    padding: 15px;
    color: inherit;
    height: 30px;
    width: 100%;
} */

.head_nav a {
    display: block;
    padding: 0px 15px;
    color: inherit;
    height: 3vw;
    width: 100%;
}

.head_nav a:hover {
    -webkit-filter: var(--nav-opacity);
    -moz-filter: var(--nav-opacity);
    -o-filter: var(--nav-opacity);
    -ms-filter: var(--nav-opacity);
    filter: var(--nav-opacity);
}

header nav div {
    border-bottom: solid 1px #333;
}

.head_nav .about {
    height: 100%;
    background-image: url(../img/about.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.head_nav .works {
    height: 100%;
    background-image: url(../img/works.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.head_nav .yard {
    height: 100%;
    background-image: url(../img/yard.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.head_nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;   
    height: 10vw;  
}

.nav div {
    width: 100px;
    flex: 1;
}

@media (min-width: 768px) {
}
/* フッター */
footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    border-top: solid 1px #333;
    text-align: center;
    margin: 0px auto;
    padding: 10px 0px;
}

footer .copy {
    margin-right: 20px;
}

footer ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer a {
    margin: 0px 10px;
    display: block;
    color: inherit;
    font-size: 18px;
}

@media (min-width: 768px) {
    footer {
        width: var(--large-width);
        /* display: flex;
        justify-content: center;
        border-top: solid 1px #333;
        text-align: center;
        margin: 0px auto;
        padding: 10px 0px; */
    }
}